<div class='buttons'>
	<a class="buttons__header" href="/"><span>Fast</span>-share</a>
	<div class="buttons__items">
		<a href="/new" class="new-btn btn"></a>
		<button class="save-btn btn" type="submit"></button>
	</div>
</div>